Repository crpg2/crpg, pull requests merged in 2024-12, with the labels that each got.

#432 webapi: trim donor details
  src/WebApi/Workers/DonorSynchronizerWorker.cs
Labels: area/web-api

#443 Crossbow STR reqs adjustment
  src/Module.Server/Common/Models/CrpgItemRequirementModel.cs
Labels: balancing

#437 mod: Randomise map rotation
  src/Module.Server/CrpgSubModule.cs
  src/Module.Server/MapRotation/ds_config_crpg_battle.txt
  src/Module.Server/MapRotation/ds_config_crpg_battle_maps.txt
Labels: area/mod, area/maps

#445 mod: rework inactivity handling
  src/Module.Client/Module.Client.csproj
  src/Module.Editor/Module.Editor.csproj
  src/Module.Server/Common/KickInactiveBehavior.cs
  src/Module.Server/Modes/Battle/CrpgBattleGameMode.cs
  src/Module.Server/Modes/Conquest/CrpgConquestGameMode.cs
  src/Module.Server/Modes/TeamDeathmatch/CrpgTeamDeathmatchGameMode.cs
  src/Module.Server/ModuleData/multiplayer_strings.xml
Labels: area/mod

#453 mod: dtv bot aggro timer
  src/Module.Server/Common/AiComponents/DtvAiComponent.cs
  src/Module.Server/Helpers/MathHelper.cs
  src/Module.Server/Modes/Dtv/CrpgDtvServer.cs
  src/Module.Server/Modes/Dtv/CrpgDtvSpawningBehavior.cs
Labels: area/mod, balancing

#460 fix: add null check to DtvAiComponent
  src/Module.Server/Common/AiComponents/DtvAiComponent.cs
Labels: bug

#461 fix: update commanderbehaviour fadeout check
  src/Module.Server/Common/Commander/CrpgCommanderBehaviorServer.cs
Labels: bug
