Repository crpg2/crpg, pull requests merged in 2024-07, with the labels that each got.

#363 fix: client crash for max level character
  src/Application/System/Commands/SeedDataCommand.cs
  src/Module.Server/Common/CrpgExperienceTable.cs
Labels: bug

#353 moved tickspersecond in damagezone.cs to public editor variable
  src/Module.Server/Scripts/DamageZone.cs
Labels: area/mod

#361 Mod: Add DTV map Monolith + shuffle DTV rotation
  src/Module.Client/GUI/MapSpriteData.xml
  src/Module.Server/MapRotation/e_maps.txt
  src/Module.Server/ModuleData/Languages/CNs/std_native_strings_xml-zho-CN.xml
  src/Module.Server/ModuleData/Languages/RU/std_native_strings_xml-rus.xml
  src/Module.Server/ModuleData/multiplayer_strings.xml
Labels: area/mod, area/maps

#354 mod: report command
  src/Module.Server/Common/ChatCommands/ChatCommandsComponent.cs
  src/Module.Server/Common/ChatCommands/User/HelpCommand.cs
Labels: area/mod

#349 feat: personal items
  .devcontainer/devcontainer.json
  .gitignore
  src/Application/Characters/Commands/UpdateCharacterItemsCommand.cs
  src/Application/Characters/Queries/GetUserCharacterItemsQuery.cs
  src/Application/Common/Interfaces/ICrpgDbContext.cs
  src/Application/Common/Results/CommonErrors.cs
  src/Application/Common/Results/ErrorCode.cs
  src/Application/Common/Services/IActivityLogService.cs
  src/Application/Items/Models/ItemViewModel.cs
  src/Application/Items/Models/UserItemViewModel.cs
  src/Application/Items/Queries/GetUserItemsQuery.cs
  src/Application/System/Commands/SeedDataCommand.cs
  src/Application/Users/Commands/RewardUserCommand.cs
  src/Domain/Entities/Items/PersonalItem.cs
  src/Domain/Entities/Items/UserItem.cs
  src/LauncherV3/LauncherV3.csproj
  src/Persistence/Configurations/PersonalItemConfiguration.cs
  src/Persistence/CrpgDbContext.cs
  src/Persistence/Migrations/20240713213315_AddPersonalItems.Designer.cs
  src/Persistence/Migrations/20240713213315_AddPersonalItems.cs
  src/Persistence/Migrations/CrpgDbContextModelSnapshot.cs
  src/WebUI/locales/en.yml
  src/WebUI/src/components/character/inventory/CharacterInventoryDollSlot.vue
  src/WebUI/src/components/character/inventory/CharacterInventoryItemCard.vue
  src/WebUI/src/components/character/inventory/CharacterInventoryItemDetail.vue
  src/WebUI/src/models/user.ts
  src/WebUI/src/pages/moderator/user/[id]/information.vue
  src/WebUI/src/services/users-service.ts
  src/WebUI/src/types/vite-components.d.ts
  test/Application.UTest/Characters/GetUserCharacterItemsQueryTest.cs
  test/Application.UTest/Characters/UpdateCharacterItemsCommandTest.cs
  test/Application.UTest/Items/GetUserItemsQueryTest.cs
  test/Application.UTest/System/SeedDataCommandTest.cs
  test/Application.UTest/Users/RewardUserCommandTest.cs
Labels: area/web-api, area/web-ui
