Repository crpg2/crpg, pull requests merged in 2024-05, with the labels that each got.

#352 mod : reduce reforge cost temporarily
  data/constants.json
Labels: area/mod

#339 mod: increase crossbow requirement
  src/Module.Server/Common/Models/CrpgItemRequirementModel.cs
Labels: area/mod, balancing

#346 mod: add killall command
  src/Module.Server/Common/ChatCommands/Admin/KillAllCommand.cs
  src/Module.Server/Common/ChatCommands/ChatCommandsComponent.cs
Labels: enhancement, area/mod

#330 webui: Help page for new players
  src/WebUI/locales/cn.yml
  src/WebUI/locales/en.yml
  src/WebUI/locales/ru.yml
  src/WebUI/package-lock.json
  src/WebUI/package.json
  src/WebUI/src/assets/themes/oruga-tailwind/components/tabs.css
  src/WebUI/src/components/app/MainNavigation.vue
  src/WebUI/src/pages/help.vue
  src/WebUI/src/pages/help/build-support.vue
  src/WebUI/src/pages/help/faq.vue
  src/WebUI/src/pages/help/index.vue
  src/WebUI/src/pages/help/join-clan.vue
  src/WebUI/src/pages/leaderboard.vue
  src/WebUI/src/types/typed-router.d.ts
  src/WebUI/src/types/vite-components.d.ts
  src/WebUI/tailwind.config.ts
  src/WebUI/tsconfig.json
Labels: area/web-ui
