Repository crpg2/crpg, pull requests merged in 2024-03, with the labels that each got.

#284 mod: add reconquista dtv round
  src/Module.Server/ModuleData/characters.xml
  src/Module.Server/ModuleData/dtv/dtv_characters.xml
  src/Module.Server/ModuleData/dtv/dtv_class_divisions.xml
  src/Module.Server/ModuleData/dtv/dtv_data.xml
Labels: area/mod

#285 mod: fix admin chat commands
  src/Module.Server/Api/Models/Restrictions/CrpgRestrictionRequest.cs
  src/Module.Server/Common/ChatCommands/Admin/BanCommand.cs
  src/Module.Server/Common/ChatCommands/Admin/MuteCommand.cs
Labels: area/mod

#286 mod: add editor module
  Crpg.sln
  src/Module.Editor/CrpgEditorSubModule.cs
  src/Module.Editor/Module.Editor.csproj
  src/Module.Editor/Properties/launchSettings.json
  src/Module.Editor/SubModule.xml
Labels: area/mod

#289 mod: increase ranged damage vs dtv bots
  src/Module.Server/Common/Models/CrpgAgentApplyDamageModel.cs
Labels: area/mod, balancing

#292 mod: remove mounted bots
  src/Module.Server/ModuleData/characters.xml
  src/Module.Server/ModuleData/class_divisions.xml
Labels: area/mod

#296 mod: random first map
  src/Module.Server/CrpgSubModule.cs
Labels: area/mod

#293 mod: add custom dwarf skin
  src/Module.Server/ModuleData/dtv/dtv_characters.xml
  src/Module.Server/ModuleData/monsters.xml
  src/Module.Server/ModuleData/skins.xml
Labels: area/mod

#297 mod: add bebbanburg conquest map
  src/Module.Client/GUI/MapSpriteData.xml
  src/Module.Server/ModuleData/Languages/CNs/std_native_strings_xml-zho-CN.xml
  src/Module.Server/ModuleData/Languages/RU/std_native_strings_xml-rus.xml
  src/Module.Server/ModuleData/multiplayer_strings.xml
Labels: area/mod

#269 mod : Conquest flag rework
  src/Module.Server/Modes/Conquest/CrpgConquestServer.cs
Labels: area/mod

#276 mod: add Grey Order dtv round
  src/Module.Server/ModuleData/dtv/dtv_characters.xml
  src/Module.Server/ModuleData/dtv/dtv_class_divisions.xml
  src/Module.Server/ModuleData/dtv/dtv_data.xml
Labels: area/mod

#287 mod : Bonus vs Shield buff & GlaiveCav nerf
  src/Module.Server/Common/Models/CrpgAgentApplyDamageModel.cs
  src/Module.Server/Common/Models/CrpgAgentStatCalculateModel.cs
Labels: area/mod, balancing

#301 Mod : Remove verbose messages from Admin commands
  src/Module.Server/Common/ChatCommands/Admin/BanCommand.cs
  src/Module.Server/Common/ChatCommands/Admin/KickCommand.cs
Labels: area/mod

#299 mod: enhance scoring & add conquest valour
  src/Module.Server/Common/CrpgScoreboardComponent.cs
  src/Module.Server/Modes/Conquest/CrpgConquestServer.cs
  src/Module.Server/Rewards/CrpgRewardServer.cs
Labels: enhancement, area/mod

#290 mod: rebalance dtv bots and reward
  src/Module.Server/ModuleData/dtv/dtv_characters.xml
  src/Module.Server/ModuleData/dtv/dtv_data.xml
Labels: area/mod, balancing

#308 mod: Lower Shield Forcefield
  data/constants.json
Labels: area/mod

#245 webui: update deps
  .devcontainer/devcontainer.json
  src/WebUI/package-lock.json
  src/WebUI/package.json
  src/WebUI/src/assets/themes/oruga-tailwind/components/checkbox.css
  src/WebUI/src/assets/themes/oruga-tailwind/components/input.css
  src/WebUI/src/assets/themes/oruga-tailwind/components/radio.css
  src/WebUI/src/assets/themes/oruga-tailwind/components/table.css
  src/WebUI/src/assets/themes/oruga-tailwind/forms.js
  src/WebUI/src/boot/oruga-ui.ts
  src/WebUI/src/components/character/CharacterEditForm.vue
  src/WebUI/src/components/character/CharacterSelectItem.vue
  src/WebUI/src/components/clan/ClanForm.vue
  src/WebUI/src/components/ui/SliderInput.vue
  src/WebUI/src/pages/characters/[id].vue
  src/WebUI/src/pages/characters/[id]/characteristic.vue
  src/WebUI/src/pages/characters/[id]/index.vue
  src/WebUI/src/pages/characters/[id]/inventory.vue
  src/WebUI/src/pages/characters/index.vue
  src/WebUI/src/pages/moderator/find-user.vue
  src/WebUI/src/pages/moderator/index.vue
  src/WebUI/src/pages/moderator/user/[id].vue
  src/WebUI/src/pages/moderator/user/[id]/activity-logs.vue
  src/WebUI/src/pages/moderator/user/[id]/information.vue
  src/WebUI/src/pages/moderator/user/[id]/restrictions.vue
  src/WebUI/src/pages/shop.vue
  src/WebUI/src/services/characters-service.ts
  src/WebUI/src/services/translate-service.ts
  src/WebUI/src/types/typed-router.d.ts
  src/WebUI/src/types/vite-auto-imports.d.ts
  src/WebUI/src/types/vite-components.d.ts
  src/WebUI/tsconfig.json
  src/WebUI/vite.config.ts
Labels: area/web-ui

#228 webui: Update to Installation Guide | Improved labels & focus traffic to launcher
  src/WebUI/locales/cn.yml
  src/WebUI/locales/en.yml
  src/WebUI/locales/ru.yml
  src/WebUI/src/assets/themes/oruga-tailwind/components/tabs.css
  src/WebUI/src/assets/themes/oruga-tailwind/icons/youtube.ts
  src/WebUI/src/assets/themes/oruga-tailwind/index.css
  src/WebUI/src/components/app/InstallationGuide.vue
Labels: area/web-ui

#320 mod: force melee or thrown weapon to spawn
  src/Module.Server/Common/CrpgSpawningBehaviorBase.cs
  src/Module.Server/ModuleData/Languages/CNs/std_native_strings_xml-zho-CN.xml
  src/Module.Server/ModuleData/Languages/RU/std_native_strings_xml-rus.xml
  src/Module.Server/ModuleData/multiplayer_strings.xml
Labels: area/mod, balancing

#337 mod: fix conquest spectator bug
  src/Module.Server/Common/TeamSelect/CrpgTeamSelectServerComponent.cs
Labels: bug, area/mod

#329 webUI: Fix Steam Logon button
  src/WebUI/locales/cn.yml
  src/WebUI/locales/en.yml
  src/WebUI/locales/ru.yml
  src/WebUI/src/components/app/InstallationGuide.vue
Labels: area/web-ui

#327 launcher: add font as resource
  .gitignore
  src/LauncherV3/LauncherV3.csproj
  src/LauncherV3/LauncherVersion.txt
  src/LauncherV3/MainWindow.xaml
Labels: area/launcher
