Repository crpg2/crpg, pull requests merged in 2025-01, with the labels that each got.

#448 Revert 1h thrust changes made as part of v81
  src/Module.Server/Common/Models/CrpgAgentStatCalculateModel.cs
  src/Module.Server/ModuleData/combat_parameters.xml
Labels: area/mod, balancing

#470 mod: add firearm support for exporter & remove harmony module
  src/Launcher/Program.cs
  src/Module.Client/DataExport/IDataExporter.cs
  src/Module.Client/DataExport/ItemExporter.cs
  src/Module.Client/DataExport/SettlementExporter.cs
  src/Module.Client/Module.Client.csproj
  src/Module.Client/Properties/launchSettings.json
  src/Module.Server/Common/Models/CrpgAgentApplyDamageModel.cs
  src/Module.Server/Common/Models/CrpgAgentStatCalculateModel.cs
  src/Module.Server/Common/Models/CrpgItemRequirementModel.cs
  src/Module.Server/Common/Models/CrpgItemValueModel.cs
  src/Module.Server/Common/Models/CrpgStrikeMagnitudeModel.cs
  src/Module.Server/CrpgSubModule.cs
  src/Module.Server/SubModule.xml
Labels: enhancement, area/mod

#471 mod: add harmony and enable support for muskets, pistols, and cartridges
  src/Module.Client/Module.Client.csproj
  src/Module.Editor/Module.Editor.csproj
  src/Module.Server/Common/Models/CrpgAgentApplyDamageModel.cs
  src/Module.Server/Common/Models/CrpgAgentStatCalculateModel.cs
  src/Module.Server/Common/Models/CrpgItemRequirementModel.cs
  src/Module.Server/Common/Models/CrpgItemValueModel.cs
  src/Module.Server/Common/Models/CrpgStrikeMagnitudeModel.cs
  src/Module.Server/CrpgSubModule.cs
  src/Module.Server/HarmonyPatches/BannerlordPatches.cs
  src/Module.Server/HarmonyPatches/FirearmsPatch.cs
  src/Module.Server/Modes/Duel/CrpgDuelSpawningBehavior.cs
  src/WebUI/src/assets/themes/oruga-tailwind/icons/item-type/bullet.ts
  src/WebUI/src/assets/themes/oruga-tailwind/icons/item-type/musket.ts
  src/WebUI/src/assets/themes/oruga-tailwind/icons/item-type/pistol.ts
  src/WebUI/src/services/item-search-service/aggregations.ts
  src/WebUI/src/services/item-search-service/indexator.ts
  src/WebUI/src/services/item-service.ts
Labels: enhancement, area/mod

#472 mod: add dtv vip panic voice and update timers for dtv bots
  src/Module.Server/Common/AiComponents/DtvAiComponent.cs
  src/Module.Server/Common/Models/CrpgAgentApplyDamageModel.cs
  src/Module.Server/Modes/Dtv/CrpgDtvServer.cs
Labels: enhancement, area/mod

#478 webUI: Fix reversed Crush Through and Knockdown icons
  src/WebUI/src/assets/themes/oruga-tailwind/icons/item-flag/can-knock-down.ts
  src/WebUI/src/assets/themes/oruga-tailwind/icons/item-flag/multiply-penetration.ts
Labels: area/web-ui

#480 Add SeedData
  src/Application/System/Commands/SeedDataCommand.cs
Labels: area/web-ui
