Repository crpg2/crpg, pull requests merged in 2025-06, with the labels that each got.

#550 Increased score for mount damage
  src/Module.Server/Common/CrpgScoreboardComponent.cs
Labels: area/mod, area/balancing

#519 webUI: Add Credits page to site
  src/WebUI/locales/en.yml
  src/WebUI/src/components/app/MainNavigation.vue
  src/WebUI/src/pages/credits/index.vue
Labels: area/web-ui

#553 One handed polearm global thrust speed reduction
  src/Module.Server/Common/Models/CrpgAgentStatCalculateModel.cs
Labels: area/mod, area/balancing

#555 Increased BvS to 5.0 for axes and 3.5 for others
  src/Module.Server/Common/Models/CrpgAgentApplyDamageModel.cs
Labels: area/mod, area/balancing

#556 Increased maximum combat speed
  src/Module.Server/ModuleData/managed_core_parameters.xml
Labels: area/mod, area/balancing

#558 mod: Fix overly long hit window on 1h weapon stabs
  src/Module.Server/ModuleData/combat_parameters.xml
Labels: area/mod

#563 Removed cavalry breaker and normalised damage to mounts
  src/Module.Server/Common/Models/CrpgAgentApplyDamageModel.cs
Labels: area/mod, area/balancing

#570 Increase mount acceleration
  src/Module.Server/ModuleData/native_parameters.xml
Labels: area/mod, area/balancing

#565 Throwing overhaul
  src/Application/Characters/Commands/UpdateCharacterCharacteristicsCommand.cs
  src/Module.Server/Common/Models/CrpgAgentStatCalculateModel.cs
  src/Module.Server/Common/Models/CrpgStrikeMagnitudeModel.cs
  src/WebUI/locales/en.yml
  src/WebUI/locales/ru.yml
  src/WebUI/src/composables/character/use-character-characteristic.ts
  test/Application.UTest/Characters/UpdateCharacterCharacteristicsCommandTest.cs
Labels: area/mod, area/balancing

#562 Salt/horse archery penalty
  src/Module.Server/Common/Models/CrpgAgentStatCalculateModel.cs
Labels: area/mod, area/balancing
