Repository crpg2/crpg, pull requests merged in 2025-07, with the labels that each got.

#549 Mounted penalty to mount stats based on weapon length and strength
  src/Module.Server/Common/Models/CrpgAgentStatCalculateModel.cs
  src/WebUI/locales/en.yml
  src/WebUI/locales/ru.yml
  src/WebUI/src/components/character/CharacterStats.vue
  src/WebUI/src/components/ui/SimpleTableRow.vue
  src/WebUI/src/services/characters-service.ts
  src/WebUI/src/types/typed-router.d.ts
Labels: area/web-ui, area/mod, area/balancing

#552 webAPI/webUI: Remove Xbox logon
  src/WebApi/Program.cs
  src/WebUI/src/models/platform.ts
  src/WebUI/src/services/platform-service.ts
Labels: area/web-api, area/web-ui

#581 Throwing fix attempt
  src/Module.Server/Common/Models/CrpgAgentApplyDamageModel.cs
  src/Module.Server/Common/Models/CrpgAgentStatCalculateModel.cs
Labels: area/mod, area/balancing

#589 Capsule increase step 2
  src/Module.Server/ModuleData/native_parameters.xml
Labels: area/mod, area/balancing

#590 Crush through reduction
  src/Module.Server/Common/Models/CrpgAgentApplyDamageModel.cs
Labels: area/mod, area/balancing
