Repository crpg2/crpg, pull requests merged in 2025-03, with the labels that each got.

#504 Changed cartridge pen to 0.8
  src/Module.Server/Common/Models/CrpgStrikeMagnitudeModel.cs
Labels: balancing

#509 mod: warmup overhaul
  src/Module.Client/GUI/HudExtension/CrpgHudExtensionHandler.cs
  src/Module.Client/GUI/HudExtension/CrpgHudExtensionVm.cs
  src/Module.Client/GUI/Warmup/WarmupHudUiHandler.cs
  src/Module.Client/GUI/Warmup/WarmupHudVm.cs
  src/Module.Server/Modes/Battle/CrpgBattleServer.cs
  src/Module.Server/Modes/Conquest/CrpgConquestServer.cs
  src/Module.Server/Modes/Dtv/CrpgDtvServer.cs
  src/Module.Server/Modes/Siege/CrpgSiegeServer.cs
  src/Module.Server/Modes/TeamDeathmatch/CrpgTeamDeathmatchServer.cs
  src/Module.Server/Modes/Warmup/CrpgWarmupComponent.cs
  src/Module.Server/Modes/Warmup/CrpgWarmupSpawnFrameBehavior.cs
  src/Module.Server/ModuleData/Languages/CNs/std_module_strings_xml-zho-CN.xml
  src/Module.Server/ModuleData/Languages/RU/std_module_strings_xml-rus.xml
  src/Module.Server/Rewards/CrpgRewardServer.cs
Labels: enhancement, area/mod

#511 Ability to highlight the VIP in dtv.
  src/Module.Client/GUI/CrpgMissionMarkerVM.cs
  src/Module.Server/Modes/Dtv/CrpgDtvClient.cs
  src/Module.Server/Modes/Dtv/CrpgDtvServer.cs
  src/Module.Server/Modes/Dtv/CrpgDtvVipSpawn.cs
Labels: area/mod
